In [1]:
# sample_nb11.ipynb
import pandas as pd

In [2]:
df = pd.DataFrame({
    'col1': [1, 2, 2, 3],
    'col2': ['a', 'b', 'b', 'a']
})

In [4]:
# Unsupported operation
counts = df['col2'].value_counts()
counts.head()

col2
a    2
b    2
Name: count, dtype: int64